APP_ENV=dev
BOT_TOKEN=
PAYMENT_PROVIDER_TOKEN=
WALLET_MNEMONIC=
WALLET_PRIVATE_KEY=
DEPOSIT_ADDRESS=
TON_API_KEY=
RUN_IN_MAINNET=false
STAR_PRICE_USD=0.0119
TON_PRICE_USD=2.28
DATABASE_FILE=bot_database.db
LOG_LEVEL=INFO
LOG_FILE=logs/bot.log
LOG_MAX_BYTES=1000000
LOG_BACKUP_COUNT=5
